.now_playing_album_cover {
  display:block;
  margin-top:50px;
  margin-bottom:30px;
  margin-left:67.5px;
  margin-right: 67.5px;
  width: 240px;
  height: 240px;
  border-radius: 25px;
  box-shadow: 0px 12px 24px #e73c22;
  transform:scale(1.0);        
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}


.now_playing_album_cover:hover {
  transform: scale(1.05);
}